<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #30849d;">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="#page-top"><h2 style="font-family:fantasy; color:#b6f9fc">SOLUTI</h2></a>
        <!--a class="navbar-brand" href="#page-top"><img src="assets/img/LogoSOLUTI.jpg" alt="..." /></a-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="#services">Servicios</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">Portafolio</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contactanos</a></li>
                <li class="nav-item">
                    <a class="navini nav-link font-weight-bold" target="_blank" href="index.jsp" style="font-size: 20px;">INICIAR SESION</a> <!-- rel="noopener noreferrer"  -->
                </li>
            </ul>
        </div>
        <div>

            <figure class="figure">
                <img src="assets/img/LogoSOLUTI.jpg" class="img-fluid rounded"  width="100" height="80" style="margin-left: 50px;">
                <!--figcaption class="figure-caption">SOLUTI</figcaption        style="color:#40b2dc"   -->                        
            </figure>

        </div>
    </div>
</nav>