<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Servicios</h2>
            <h3 class="section-subheading text-muted">Soluciones Tecnológicas a su Disposición</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span>
                    <img class="circular--square" src="/assets/img/ControlSatelital.jpg" alt="Control Satelital">                     
                </span>
                <h4 class="my-3">Control Satelital</h4>
                <p class="text-muted">Prestamos soporte en lo referente al Control Satelital de su Flota. Ya que conocemos a los más importantes proveedores de Tecnología para el Control de Rutas.</p>
            </div>
            <div class="col-md-4">
                <span>
                   <img class="circular--square" src="/assets/img/ManejoInformacion1.jpg" alt="Control Satelital">
                </span>
                <h4 class="my-3">Manejo de Información Operativa</h4>
                <p class="text-muted">Tenemos experiencias con Empresas de Transporte Urbano, con lo cual reconocemos las áreas de oportunidad que se presentan, para así buscar mejorar su Eficiencia Operativa.</p>
            </div>
            <div class="col-md-4">
                <span>                    
                  <img class="circular--square" src="/assets/img/Administraciondatos.jpg" alt="Control Satelital">
                </span>
                <h4 class="my-3">Administración de Datos</h4>
                <p class="text-muted">Le ayudamos con la administración de sus Datos, de manera segura y efectiva, para que logre tener a la mano las herramientas necesarias, para las tomas de decisiones tanto operativas como financieras.</p>
            </div>
        </div>
    </div>
</section>
