<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Nuestra Historia</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2012-2018</h4>
                        <h4 class="subheading">Nuestros Comienzos</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Nuestros primeros pasos en este campo, se dá en el momento de estar laborando para una empresa de Transporte Público Urbano, donde comenzamos el proceso de la instalación, ajustes, pruebas y mejoras de la plataforma de control de rutas. Constituyendose así, esta empresa, en unas de las primeras en incorporar este tipo de tecnología en sus buses.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Julio 2018</h4>
                        <h4 class="subheading">Un sueño, un Emprendimiento</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Con la gran experiencia obtenida tanto en la empresa de Transporte como en la Proveedora de la Plataforma de Control de Ruta, decidimos a conformar una empresa que de soluciones tecnológicas a las empresas de transporte urbano. </p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3A.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Enero 2019</h4>
                        <h4 class="subheading">Apostamos por el Manejo de Datos</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Incurrimos en el Procesamiento de los Datos, basandonos en la recolección, manejo y presentación de los mismos en informes diarios y mensuales, con los cuales se presentan los diferentes indicadores, que aportan información y ayudan a la toma de decisiones, tanto operativas como financieras de las empresas.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4A.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Julio 2021</h4>
                        <h4 class="subheading">Fase Inicial</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">En esta fase, queremos presentar nuestras propuestas, para ofrecerles soluciones factibles, para la mejora de los procesos operativos de su empresa de transporte.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4 style="color: rgb(22, 163, 156);">
                        Se Parte
                        <br />
                        De Nuestra
                        <br />
                        Historia!
                    </h4>
                </div>
                
            </li>
            <li class="timeline-inverted">
                <div class="timeline-inverted">
                    <div class="timeline-heading">
                        <h4 class="text-center">Ahora</h4>
                        <h4 class="subheading text-center">Es momento que le saque provecho a los datos Generados en su Operación</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted text-center">Mejora la eficiencia operativa, reduciendo costos y aumentando margen de ganancias, al llevar la información recogida de la operación a informes gerenciales de alto valor agregado, donde se pueden detectar las áreas de oportunidad y lograr, a través de las acciones sobre las misma, los objetivos y metas planteadas por su empresa.</p></div>
                </div>
            </li>
        </ul>
    </div>
</section>
