<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Portafolio</h2>
            <h3 class="section-subheading text-muted">Lo ayudamos a optimizar su empresa en cuanto al manejo de los datos</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/Pfo1.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Monitoreo</div>
                        <div class="portfolio-caption-subheading text-muted">de Rutas</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/Pfo2.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Adecuación</div>
                        <div class="portfolio-caption-subheading text-muted">Plataforma Control de Rutas</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/Pfo3.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Generación</div>
                        <div class="portfolio-caption-subheading text-muted">Reportes</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/Pfo4.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Servicio Técnico</div>
                        <div class="portfolio-caption-subheading text-muted">Ajustes y Reparaciones</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/Pfo5.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Automatización</div>
                        <div class="portfolio-caption-subheading text-muted">Componentes Organización</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/Pfo6.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Integración</div>
                        <div class="portfolio-caption-subheading text-muted">La Suma de Todos</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Monitoreo</h2>
                                    <p class="item-intro text-muted">de Rutas</p>
                                    <img class="img-fluid d-block mx-auto tamf1" src="assets/img/portfolio/Pfo1.jpg" alt="..." />
                                    <p>Ofrecemos el servicio de Monitoreo de Rutas. En el cual le hacemos seguimiento del comporatmiento de su flota, durante los periodos operativos.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Empresas de Transporte Público Urbano.
                                        </li>
                                        <li>
                                            <strong>Categoría:</strong>
                                            Operación
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Volver
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Adecuación</h2>
                                    <p class="item-intro text-muted">Plataforma Control de Rutas</p>
                                    <img class="img-fluid d-block mx-auto tamf1" src="assets/img/portfolio/Pfo2.jpg" alt="..." />
                                    <p>Para obtener buenos resultados es necesario que la data que su empresa maneje, sea totlmente confiable y real; por lo que le ofrecemos este servicio de adecuar su Plataforma, para sacarle en mayor provecho de la misma.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Empresas de Transporte Público Urbano.
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Operación
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Volver
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Generación</h2>
                                    <p class="item-intro text-muted">Reporte</p>
                                    <img class="img-fluid d-block mx-auto tamf1" src="assets/img/portfolio/Pfo3.jpg" alt="..." />
                                    <p>A través de nuestros reportes, su empresa se mantendrá al día de cada uno de los indicadores que arroge su sistema o plataforma, para que puedan tener base la toma de decisiones tanto a nivel operativo como a nivel financiero.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Empresas de Transporte Público Urbano.
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Operación, Administración y Gerencia
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Volver
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Servicio Técnico</h2>
                                    <p class="item-intro text-muted">Ajustes y Reparaciones</p>
                                    <img class="img-fluid d-block mx-auto tamf1" src="assets/img/portfolio/Pfo4.jpg" alt="..." />
                                    <p>Debido a la experiencia que tenemos con la mayoría de los componentes de las plataformas de control de ruta, junto con el "Monitoreo" y los "Reportes", podemos apoyar su empresa en la solución de los problemas técnicos referidoa a los mismos.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Empresas de Transporte Público Urbano.
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Operación
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Volver
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Automatización</h2>
                                    <p class="item-intro text-muted">Componentes Organización</p>
                                    <img class="img-fluid d-block mx-auto tamf1" src="assets/img/portfolio/Pfo5.jpg" alt="..." />
                                    <p>Ponemos a su disposición, nuestra experiencia en base a la operatividad de las Empresas de Transporte Urbano, para así ayudar a su Empresa, a detectar las áreas de oportunidad, susceptibles a perdidas de información y ofrecerles formas basicas y ajustables a la medida, para automatizar su negocio, y hacerla más eficiente. </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Empresas de Transporte Público Urbano.
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Operacióm, Administración, Mantenimiento y Gerencia
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Volver
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Integración</h2>
                                    <p class="item-intro text-muted">La Suma de Todos</p>
                                    <img class="img-fluid d-block mx-auto tamf1" src="assets/img/portfolio/Pfo6.jpg" alt="..." />
                                    <p>A través del paso de diferentes etapas, le ofrecemos herramientas, para que cada uno de los componentes de la Empresa, manejen la misma información, y así lograr beneficios operativos y financieros. Ayudandolos a posicionarse y mantener estandares de alto nivel.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Empresas de Transporte Público Urbano.
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Operacióm, Administración, Mantenimiento y Gerencia
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Volver
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>