<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">SOLUTI</div>
        <div class="masthead-subheading">Soluciones Tecnológicas - Mejora de la Operatividad - Manejo de Información y Datos</div>        
        <br><br>        
        <a class="btn btn-primary btn-xl text-uppercase  btn-lg" href="#services" style="height: 70px; width: 350px;">Servicios</a>
        <a class="btn btn-primary btn-xl text-uppercase  btn-lg" style="margin-left: 80px; height: 70px; width: 350px;" href="#services">Contactanos ahora</a>        
    </div>
</header>
