<footer class="bg-dark py-4 text-light">
    <div class="container">
        

        <div class="row py-2 border-top">
            <div class="col-lg-7">
                <small><span class="font-weight-bold">@2021 SOLUTI,</span> creado por EdKla7. Todos los derechos reservados</small>
                <!--/br><small><span class="font-weight-bold">Las imágenes pueden estar sujetas a derechos de autor.</span>
                <a href="https://support.google.com/legal/answer/3463239?hl=es-419" jslog="52885;ved:0CBAQlZ0DahcKEwjQ5qCTiu7qAhUAAAAAHQAAAAAQAw;track:click" class="qnLx5b" target="_blank">Más información</a -->
                <br>Las imágenes pueden estar sujetas a derechos de autor.&nbsp;<a href="https://support.google.com/legal/answer/3463239?hl=es-419" jslog="52885;ved:0CBAQlZ0DahcKEwjQ5qCTiu7qAhUAAAAAHQAAAAAQAw;track:click" class="qnLx5b" target="_blank">Más información</a></div>

            <div class="col-lg-5 text-right">
              <div class="row">
                <div class="col-lg-5 my-3 my-lg-0">
                    <a class="btn btn-light btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-light btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-7 text-lg-end">
                    <a class="link-light text-decoration-none me-3" href="#!">Privacy Policy</a>
                    <a class="link-light text-decoration-none" href="#!">Terms of Use</a>
                </div>
            </div>  
            </div>                    
        </div>
    </div>


</footer>
