<!-- Proveedores-->

    <div class="py-5 page-section bg-light">
        <div class="container">
            <div class="row">                
                <div class="col-lg-8 mx-auto text-center"><p class="text-muted" style="font-size: 30px;">Proveedores</p></div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/Logo Sonar.jpg" alt="Logo Sonar" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/Logo StratosGroup.jpg" alt="Logo StratosGroup" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/Logo Distraker.jpg" alt="Logo Distraker" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/Logo SecretariaMov.jpg" alt="Logo SecretariaMov" /></a>
                </div>
            </div>
        </div>
    </div>
