 <!-- Footer-->
 <footer class="footer py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-5">
                    <h6 class="font-weight-bold mb-0">Ubicación de las oficinas:</h6>
                    <small class="text-muted">Plaza de Cisneros, Cra. 54 No. 44-48,<br>
                        Medellín, Antioquia Biblioteca EPM</small>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-5">
                    <h6 class="font-weight-bold mb-0">Teléfono de Contacto:</h6>
                    <small class="text-muted">+57 123 4567890 </small>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-5">
                    <h6 class="font-weight-bold mb-0">e-Mail de Contacto:</h6>
                    <small class="text-muted">solutiweb@gmail.com </small>
                </div>
            </div>
        </div>
    </div>
</footer>

