<!-- Clients-->
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted" style="font-size: 30px;">Clientes</p></div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/Logo Flota la V.jpg" alt="..." /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/Logo Cootransi.jpg" alt="..." /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/Logo CTCataluña.jpg" alt="..." /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/Logo Coopatra.jpg" alt="..." /></a>
            </div>
        </div>
    </div>
</div>
